# Python
backend/venv/
backend/__pycache__/
*.pyc


backend/data/urls_raw.csv
backend/data/features.csv


backend/model.pkl
backend/feature_names.pkl

# Frontend
frontend/node_modules/
frontend/dist/

# Editor
.vscode/